<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Balykina JS-11-12</title>
    
    <link rel="stylesheet" href="css/template.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <script src="js/main.js"></script>
    <script src="js/template.js"></script>
    
</head>
<body>

<script type="text/html" id="resume">
        <div class="content">
            <div class="my-info">
            
                <h3><%= data[0].name %></h3>
                <img src="img/Balykina_avatar.jpg" alt="Я" width="145" height="145">
                <p><%= data[0].profession %></p>
            </div>
            <hr>
            <div class="my-desire">
                <p><%= data[0].desire[0].title %></p>
                <ul>
                <% for (var i = 0; i < data[0].desire[0].content.length; i++) { %>
                    <li><%= data[0].desire[0].content[i].title %></li>
                <% } %> 
                </ul>
                
            </div>
            <hr>
            <div class="my-number">
                <p><%= data[0].title %><br><%= data[0].number %></p>
            </div>
            <div class="my-vk">
                <p><%= data[0].page %> <br> <a href="https://vk.com/id5169175">vk.com</a></p>
            </div>
            <hr>
            <div class="my-feedback">
                <p><%= data[0].myFeedback %></p>
                <p><%= data[0].feedback %></p>
            </div>
        </div>
    
    </div>

</script>

</body>
</html>